In [45]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [46]:
data=pd.read_csv(r"C:\Users\ADMIN\Downloads\TelecomCustomerChurn.csv")

In [47]:
data.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [48]:
data.tail(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [49]:
data.shape

(7043, 21)

In [50]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [52]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [70]:
data=data.drop(['customerID'],axis=1)#,'gender','SeniorCitizen','PaperlessBilling'],axis=1)

In [71]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,446,2505,0
1,1,0,0,0,28,1,0,0,2,0,2,0,0,0,1,0,3,802,1466,0
2,1,0,0,0,12,1,0,0,2,2,0,0,0,0,0,1,3,740,157,1
3,1,0,0,0,40,0,1,0,2,0,2,2,0,0,1,0,0,570,1400,0
4,0,0,0,0,12,1,0,1,0,0,0,0,0,0,0,1,2,1033,925,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,17,1,2,0,2,0,2,2,2,2,1,1,3,1295,1597,0
7039,0,0,1,1,70,1,2,1,0,2,2,0,2,2,1,1,1,59,5698,0
7040,0,0,1,1,3,0,1,0,2,0,0,0,0,0,0,1,2,441,2994,0
7041,1,1,1,0,34,1,2,1,0,0,0,0,0,0,0,1,3,1099,2660,1
7042,1,0,0,0,63,1,0,1,2,0,2,2,2,2,2,1,0,107,5407,0

In [72]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [73]:
for obj in data:
    data[obj]=le.fit_transform(data[obj].astype(str))
data.head(8)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,971,1675,0
1,1,0,0,0,21,1,0,0,2,0,2,0,0,0,1,0,3,1367,520,0
2,1,0,0,0,4,1,0,0,2,2,0,0,0,0,0,1,3,1298,635,1
3,1,0,0,0,35,0,1,0,2,0,2,2,0,0,1,0,0,1109,448,0
4,0,0,0,0,4,1,0,1,0,0,0,0,0,0,0,1,2,40,6449,1
5,0,0,0,0,69,1,2,1,0,0,2,0,2,2,0,1,2,644,5674,1
6,1,0,0,1,7,1,2,1,0,2,0,0,2,0,0,1,1,423,614,0
7,0,0,0,0,12,0,1,0,2,0,0,0,0,0,0,0,3,969,1790,0

In [74]:
pd.to_numeric(data['TotalCharges'])

0       1675
1        520
2        635
3        448
4       6449
        ...
7038     665
7039    5221
7040    2217
7041    1847
7042    4899
Name: TotalCharges, Length: 7043, dtype: int32

In [75]:
x=data.drop(['Churn'],axis=1)

In [76]:
x.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,971,1675
1,1,0,0,0,21,1,0,0,2,0,2,0,0,0,1,0,3,1367,520
2,1,0,0,0,4,1,0,0,2,2,0,0,0,0,0,1,3,1298,635

In [77]:
y=data['Churn']

In [78]:
y.head(4)

0    0
1    0
2    1
3    0
Name: Churn, dtype: int32

In [79]:
from sklearn.model_selection import train_test_split

In [101]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,random_state=42)

In [102]:
from sklearn.linear_model import LogisticRegression

In [103]:
r=LogisticRegression()

In [104]:
reg=r.fit(x_train,y_train)

In [105]:
y_pred=r.predict(x_test)

In [106]:
y_pred

array([1, 0, 0, ..., 0, 1, 0])

In [107]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7834549878345499